@{
    ViewData["Title"] = "Event Creation";
}

<style>
    h1 {
        font-size: 35px;
        color: white;
    }

    .h1 {
        font-size: 35px;
        color: white;
        position: relative;
        right: 0;
    }

    h2 {
        font-size: 100px;
        color: rgb(238,174,36);
    }

    p {
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: white;
    }

    body {
        font-family: 'Roboto Slab', serif;
        background: radial-gradient(#001f55, #013375);
    }
    form {
        border: 4px solid rgb(238,174,36);
        padding: 10pt;
    }

    label {
        color: white;
    }

    .line {
        border-bottom: 4px solid rgb(238,174,36);
    }

    .button {
        font-size: 35px;
        color: white;
    }
</style>

<body>
    <div>
        <form method="post" enctype="multipart/form-data" asp-controller="EventCreation" asp-action="CreateEvent">

            <label for="evTitle">Event Title: </label>
            <input type="text" id="name" name="name" maxlength="50" required />
            <br />

            <label for="evImg">Event Image: </label>
            <input type="file" name="flyer" class="form-control" required />
            <br />

            <label for="evDesc">Event Description: </label>
            <input type="text" id="description" name="description" maxlength="140" required />
            <br />

            <label for="evDate"> Event Date: </label>
            <input type="date" id="date" name="date" required />
            <br />

            <label for="evTime"> Event Time: </label>
            <input type="time" id="time" name="time" required />
            <br />

            <label for="locBldg">Please select a building: </label>
            <select name="building" id="building">
                <option>Mathematical Sciences</option>
                <option>Aeronautics and Engineering</option>
                <option>Liquid Crystals Materials Science</option>
                <option>Cunningham Hall</option>
                <option>Henderson Hall</option>
                <option>Smith Hall</option>
                <option>Science Research</option>
                <option>Willaims Hall</option>
                <option>Intergrated Sciences</option>
            </select>
            <br />

            <label for="locRoom">Please Specify a room number</label>
            <input type="number" id="room" name="room" />
            <br />

            <label for="locCamp">Please select a campus: </label>
            <select name="campus" id="campus">
                <option value="KT">Kent</option>
                <option value="GA">Geauga</option>
                <option value="AT">Ashtabula</option>
                <option value="EL">East Liverpool</option>
                <option value="SA">Salem</option>
                <option value="ST">Stark</option>
                <option value="TR">Trumbull</option>
                <option value="TU">Tuscarawas</option>
            </select>
            <br />
            <button type="submit" id="submit" value="Submit">Submit Event</button>
            <button type="reset" id="reset">Reset From</button>
        </form>
    </div>
</body>
